/* Header */

.account-page .page-header,
.cart-page .page-header,
.requests-page .page-header,
.favorites-page .page-header
{
  display: flex;
  justify-content: space-between;
}

.account-page .page-header div,
.cart-page .page-header div, 
.requests-page .page-header div,
.favorites-page .page-header div
{
  width: 80px;
  height: 100%;
  display: flex;
  align-items: center;
}

.account-page .middle-section {
  height: 150px;
  box-sizing: border-box;
  position: static;
  display: flex;
  align-items: center;
  padding: 10px 25px;
  background-color: rgba(240, 248, 255, 0.85);
}

.account-page section.account-section {
  position: absolute;
  overflow-y: scroll;
  display: block;
  /* display: none; */
  max-width: 100%;
  padding-top: 16px;
  padding-bottom: 200px;
}

.account-page .image-box {
  width: 100px;
}

.account-page .image-box img {
  width: 100%;
  height: 100%;
  max-height: 100%;
  border-radius: 50%;
  border: 1px solid #00000013;
}

.account-page .content-box h2 {
  font-size: 1.2em;
}

.account-page .content-box {
  box-sizing: border-box;
  padding: 10px 20px;
  height: 100%;
}

.account-page .review-box {
  position: initial;
  display: flex;
  margin-top: 8px;
}

.account-page .review-box img {
  width: 16px;
  height: 100%;
}

.option {
  cursor: pointer;
}

.account-page .middle-section .option {
  border: 1px solid #0000003a;
  width: 140px;
  height: 30px;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-page .option:active {
  scale: .96;
  transition: .2s;
  filter: brightness(90%);
}

.account-section .option {
  box-sizing: border-box;
  height: 50px;
  background-color: rgba(240, 248, 255, 0.55);
  padding: 14px;
  margin-bottom: 8px;
  border-radius: 10px;
}

.account-section .options {
  display: flex;
  box-sizing: border-box;
  height: 120px;
  background-color: rgba(240, 248, 255, 0.55);
  padding: 15px 30px;
  margin-bottom: 8px;
  border-radius: 10px;
  gap: 20px;
}

.options .option {
  border: 1px solid #0000003a;
  flex-grow: 1;
  height: 100%;
  background-color: rgba(240, 248, 255, 0.25);
  flex-basis: 0;
  flex-wrap: wrap;
  margin-bottom: 0px !important;
  display: flex;
  align-items: center;
}

.options .option svg {
  width: 100%;
  fill: #5ad38c;
  margin-bottom: 3px;
}

.account-section hr {
  opacity: .6;
  border-top: 1px solid #0000003a;
  border-bottom: none;
}

.account-section footer a {
  text-decoration: none;
  color: #00000096;
  font-size: .8em;
}

.account-section footer a:hover {
  text-decoration: underline;
}

.productCard.request-card .status-box {
  position: absolute;
  bottom: 10px;
  display: flex;
  width: 90%;
}

.productCard.request-card .status-box > div:nth-child(1){
  border-radius: 10px 0px 0px 10px;
}
.productCard.request-card .status-box > div:nth-child(3){
  border-radius: 0px 10px 10px 0px;
}
.productCard.request-card .status-box > div:nth-child(even){
  border-radius: 0px;
  border-left: 2px solid hsla(0, 0%, 0%, 0.15);
  border-right: 2px solid hsla(0, 0%, 0%, 0.15);
}

.productCard.request-card .status-box > div {
  flex-grow: 1;
  height: 5px;
  background-color: #c4d3cc;
  border-radius: 10px;
}

.productCard.request-card .status-box > div.active {
  background-color: #5ad38c;
}

@media (max-width: 500px) {
  .account-section .options {
    padding: 10px 10px;
    margin-bottom: 10px;
  }
}