header.page-header.account-page {
  height: 100px !important;
}

.middle-section.account-page {
  top: 110px;
  height: 180px;
  display: flex;
  align-items: center;
  padding: 10px 25px;
  background-color: rgba(240, 248, 255, 0.85);
}

section.account-section.account-page {
  top: 300px;
  display: block;
  height: 80%;
  max-width: 200%;
  padding-top: 16px;
  padding-bottom: 200px;
  overflow-y: auto;
}

.account-page .image-box {
  width: 120px;
}

.account-page .image-box img {
  width: 100%;
  height: 100%;
  max-height: 1005;
  border-radius: 50%;
}


.account-page .content-box h2 {
  font-size: 1.5em;
}

.account-page .content-box {
  box-sizing: border-box;
  padding: 25px 25px;
  height: 100%;
}

.account-page .review-box {
  position: initial;
  display: flex;
  margin-top: 10px;
}

.account-page .review-box img {
  width: 20px;
}

.account-section .option {
  box-sizing: border-box;
  height: 50px;
  background-color: rgba(240, 248, 255, 0.55);
  padding: 14px;
  margin-bottom: 8px;
  border-radius: 10px;
}

.account-section .options {
  display: flex;
  box-sizing: border-box;
  height: 120px;
  background-color: rgba(240, 248, 255, 0.55);
  padding: 15px 30px;
  margin-bottom: 8px;
  border-radius: 10px;
  gap: 20px;
}

.options .option {
  border: 1px solid #0000003a;
  flex-grow: 1;
  height: 100%;
  background-color: rgba(240, 248, 255, 0.25);
  flex-basis: 0;
  flex-wrap: wrap;
  margin-bottom: 0px !important;
  display: flex;
  align-items: center;
}

.options .option svg {
  width: 100%;
  fill: #5ad38c;
  margin-bottom: 3px;
}

.account-section hr {
  opacity: .6;
  border-top: 1px solid #0000003a;
  border-bottom: none;
}

.account-section footer a {
  text-decoration: none;
  color: #00000096;
  font-size: .8em;
}

.account-section footer a:hover {
  text-decoration: underline;
}

.middle-section.account-page .option {
  border: 1px solid #0000003a;
  width: 140px;
  height: 35px;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  margin-top: 25px;
}

@media (max-width: 500px) {
  .account-section .options {
    padding: 10px 10px;
    margin-bottom: 10px;
  }
}