.home-section {
  height: 100%;
  display: block;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding-top: 12px;
  padding-bottom: 200px;
}

.home-section h2{
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-family: 'Maven Pro', sans-serif;
  color: #2873b1;
  font-weight: 500;
  margin-top: 20px;
}

.home-section h2.main{
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 20px;
}

.productCard h2 {
  margin-top: 0px;
}

.grid {
  display: flex;
  gap: 3px;
  margin-bottom: 3px;
  background-color: rgba(240, 248, 255, 0.50);
}

.grid div {
  flex-grow: 1;
  flex-basis: 0;
  padding: 20px 10px;
  border: 1px solid  #0000003a;
  border-radius: 5px;
  cursor: pointer;
}

.grid div:active {
  background-color: rgba(0, 0, 0, 0.020);
  scale: .95;
  transition: .3;
}

.products-inline {
  height: 100px;
  overflow-x: scroll;

  display: flex;
  gap: 8px;
  margin-bottom: 8px;
  justify-content: space-around;
}

.products-inline img {
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.products-inline:nth-child(even) {
  justify-content: flex-start;
}

.products-inline:nth-child(odd) {
  flex-direction: row-reverse;
  justify-content: flex-start;
}
