.navbar {
  width: 100%;
  height: 70px;
  background-color: aliceblue;

  bottom: 0px;
  z-index: 999;
  box-shadow: rgba(36, 36, 39, 0.6) 0px 7px 12px 0px;
  position: absolute;
}

.navbar nav {
  display: flex;
  justify-content: space-around;

  padding: 8px 20px 15px;
}

.navbar nav a {
  width: 52px;
  height: 52px;
  border-radius: 30%;

  /* border: 2px solid  #184d97; */
  color:  #184d97;
  text-decoration: none;
}

.navbar nav a.active {
  color: aliceblue;
  background-color: #2873b1;
  transition: .2s;
}

nav a svg {
  font-size: 2em;
  fill: #184d9765;
  margin: 8px;
  transition: .2s;
}

nav a.active svg {
  fill: aliceblue;
}

@media (max-width: 800px) {
  .navbar {
    position: fixed;
  }
}