nav.navbar {
  width: 100%;
  height: 70px;
  background-color: aliceblue;
  box-sizing: border-box;

  bottom: 0px;
  z-index: 999;
  box-shadow: rgba(36, 36, 39, 0.6) 0px 7px 12px 0px;
  position: absolute;

  /* Debug */
  /* opacity: 0;  */
}

nav.navbar {
  display: flex;
  justify-content: space-around;

  padding: 8px 20px 15px 20px;
}

nav.navbar a {
  width: 52px;
  height: 52px;
  border-radius: 30%;

  /* border: 2px solid  #184d97; */
  color:  #184d97;
  text-decoration: none;
}

nav.navbar a.active {
  color: aliceblue;
  background-color: #2873b1;
  transition: .2s;
}

nav a svg {
  font-size: 1.8em;
  fill: #184d9765;
  margin: 10px auto;
  transition: .2s;
}

nav a.active svg {
  fill: aliceblue;
}

.alt {
  fill: #5ad38c;
}

.navbar {
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  touch-action: manipulation;
}

@media (max-width: 800px) {
  .navbar {
    position: fixed;
    bottom: 0px;
  }
}