/* Header */

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
 
.searchbar-div {
  position: relative;
  display: flex;
  flex-grow: 1;
}

.searchbar-div img{
  position: absolute;
  right: 35px;
  top: 19px;

  opacity: .6;
  
  width: 25px;
}

#searchBar {
  flex-grow: 1;
  height: 40px;
  border-radius: 10px;
  background-color: rgba(240, 248, 255, 0.65);
  border: 1px solid #0000003a;
  padding: 0px 15px 0px 20px;
  margin:  10px 15px 10px 15px;
}

#searchBar:focus {
  border: 1px solid #0000006e;
  outline: none;
}

.productCard {
  background-color: rgba(240, 248, 255, 0.65);
  border: 1px solid #0000003a;
  height: 100px;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 6px;

  display: flex;
}

.store-section {
  display: block;
  height: 80%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding-top: 16px;
  padding-bottom: 120px;
}

.image-box {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 5px;
}

.image-box img {
  height: 100%;
}

.content-box {
  flex-grow: 1;
  position: relative;
  padding: 5px 20px;
}

.content-box h2 {
  text-align: start;
  margin-bottom: 3px;
  font-size: 1.2rem;
}

.content-box p.desc {
  text-align: start;
  opacity: .7;
}

.price-box {
  position: absolute;
  right: 5px;
  bottom: 0px;
}

.price-box p {
  font-size: 1.2em;
}

.price-box span {
  font-size: .8em;
  text-decoration:line-through;
  opacity: .6;
}

.review-box {
  position: absolute;
  left: 20px;
  bottom: 0px;
}

.review-box img {
  width: 13px;
}

/* SCROLL */

.store-section::-webkit-scrollbar,
.account-section::-webkit-scrollbar {
  display: none;
}
.store-section::-webkit-scrollbar-track {
	background: #1b1a1a;
}
.store-section::-webkit-scrollbar-thumb html,
.account-section::-webkit-scrollbar-thumb html {
	scroll-behavior: smooth;
}

