/* Header */

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

header h1 {
  font-size: 1.6em;
  margin: 25px auto 20px auto;
}
 
#searchBar {
  flex-grow: 1;
  border-radius: 10px;
  margin: 0px 10px 10px 10px;
  background-color: rgba(240, 248, 255, 0.65);
  border: 1px solid #0000003a;
  padding: 0px 15px;
  margin:  0px 25px 10px 25px;
}

#searchBar:focus {
  border: 1px solid #0000006e;
  outline: none;
}

.productCard {
  background-color: rgba(240, 248, 255, 0.65);
  border: 1px solid #0000003a;
  height: 120px;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;

  display: flex;
}

.store-section {
  display: block;
  height: 90%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding-bottom: 110px;
}

.image-box {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 5px;
}

.image-box img {
  height: 100%;
}

.content-box {
  flex-grow: 1;
  position: relative;
  padding: 5px 20px;
}

.content-box h2 {
  text-align: start;
  margin-bottom: 3px;
  font-size: 1.2rem;
}

.content-box p.desc {
  text-align: start;
  opacity: .7;
}

.price-box {
  position: absolute;
  right: 5px;
  bottom: 0px;
}

.price-box p {
  font-size: 1.2em;
}

.price-box span {
  font-size: .8em;
  text-decoration:line-through;
  opacity: .6;
}

.review-box {
  position: absolute;
  left: 25px;
  bottom: 0px;
}

/* SCROLL */

.store-section::-webkit-scrollbar {
  display: none;
}
.store-section::-webkit-scrollbar-track {
	background: #1b1a1a;
}
.store-section::-webkit-scrollbar-thumb
html {
	scroll-behavior: smooth;
}

